<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog_post.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @blog_post.user.username %> <br />
  <h6>Created at: <%= @blog_post.created_at %></h6>
</p>

<p>
  <strong>Content:</strong>
  <%= @blog_post.content %>
</p>

<div class="btn btn-group">
		<%= link_to 'Edit', edit_blog_post_path(@blog_post), class: "btn btn-default" %> |
		<%= link_to 'Back', blog_posts_path, class: "btn btn-default" %>
	</div>


<div>
	<%= render 'comments/form' %>
</div>

<div class="panel panel-default">
	<div class="panel-header">
		<h4>Comments</h4>
	</div>
	<% @blog_post.comments.each do |comment| %>
		<div class="panel-body">
			<p>
				<strong><%= comment.user.username %> </strong>says... <br />
				<%= comment.comment_entry %><br />
				<h6>Created at: <%= comment.created_at %></h6>
			</p>
		</div>
	<% end %>
</div>